---
import '../styles/global.css';
import { getCollection } from 'astro:content';

const blogs = await getCollection('blog');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home - Rudy's Website</title>
	</head>
	<body>
		<nav class="navbar">
			<div class="nav-links">
				<a href="/">home</a>
				<a href="/projects">projects</a>
				<a href="/blog">blog</a>
			</div>
		</nav>

        <main class="container" style="max-width: 50%;">
        <h1>Blog</h1>
        <hr>
		<h3> Coming Soon! </h3>
        <ul class="blog-posts">
            {blogs.map(blog => (
                <li><a href={`/blog/${blog.id}`}>{blog.data.title}</a></li>
            ))}
        </ul>
        </main>
	</body>
</html>
