---
import '../styles/global.css';
import { getCollection } from 'astro:content';
import {
	getBlogDisplayTitle,
	getBlogRoutePath,
	isPrimaryBlogListEntry,
} from '../utils/blogPageFormat';

const blogs = await getCollection('blog');
const blogList = blogs.filter(isPrimaryBlogListEntry);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home - Rudy's Website</title>
	</head>
	<body>
		<nav class="navbar">
			<div class="nav-links">
				<a href="/">home</a>
				<a href="/blog">blog</a>
				<a href="/pictures">pictures</a>
			</div>
		</nav>

        <main class="container" style="max-width: 50%;">
        <h1>Blog</h1>
        <hr>
        <ul class="blog-posts">
			{blogList.map(blog => (
				<li><a href={getBlogRoutePath(blog.id)}>{getBlogDisplayTitle(blog)}</a></li>
            ))}
        </ul>
        </main>
	</body>
</html>
